body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}



/* Home.css */
.Home{
  padding-bottom: 20px;
  overflow-x: hidden; 
}

.Home-container {
    height: 100vh;
    position: relative;
    
  }
  
  .Home-background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/public/assets/Homebanner.jpg');
    background-size: cover;
  }
  .Home-background-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
  }
   
  .overlay-text {
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
    text-align: left;
    color: white;
    font-family: 'Roboto', sans-serif;
  }
  
  .Home-underline {
    border: 2px solid #FFB600;
    width: 20%;
  }
   
  .Home-header-text-top {
    font-size: 20px;
  }

  .Home-header-text-middle {
    font-size: 60px;
  }

  .Home-header-text-bottom {
    font-size: 20px;
    font-weight: 200;
    padding-top: 10px;
    padding-bottom: 20px;
  }



  
.Home-Services-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 600px;
    position: absolute;
    top: 650px;
    width :85%;
    left: 8%;
  }
  

  .Home-Services {
    width: 28%; 
    height: 400px; 
    background-color: #fff;
    padding:20px;
    margin-bottom: 20px;
  
  }
  .Home-service-img{
    width: 280px;
    height: 196px;
  }
  .Home-service-button{
    background-color: #FFB600;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
    border-radius: 20px;
  }
  .Home-service-background{
    padding-top: 400px;
    background-color: #ccc;
  }
  .Home-paragraph-container{
     display: flex;
     justify-content: center;
     align-items: left;
     width: 100%;
  }
  .Home-paragraph-flex1{
     width:50%;
     background-color: #fff;
     padding: 20px;
     padding-top: 150px;
     text-align: left;
     padding-left: 80px;
  }
  .Home-paragraph-flex2{
    width:50%;
    background-color: #fff;
    padding-top: 80px;
    padding-right: 80px;
    padding-bottom: 80px;
  }
  .Home-paragraph-checklist{
    display: flex;
    padding: 10px;
    font-size: 18px;
  }
  .Home-checklist{
    padding-right: 10px;
    font-size: 20px;
    color: #FFB600;
  }
  .Home-paragraph-h3{
    font-size: 15px;
  }
  .Home-paragraph-h1{
    font-size: 40px;
  }
  .Home-paragraph-hr{
    border: 2px solid #FFB600;
    width: 30%;
  
  }
  .checklist{
    padding-top: 20px;
  }
  .Home-paragraph2-button{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 20px;
    background-color: #FFB600;
    border: none;
    font-size: 15px;
  }
  .Home-paragraph2-img{
    padding-left: 40px;
  }
/*Home container black background*/

 .Home-services-black-background{
  background-color: #000;
  color: #fff;
  padding-top: 60px;
  padding-bottom: 60px;
 }
 .Home-service-black-container{
  display: flex;
  flex-Wrap: wrap;
  padding: 30px;
 }

.Home-service-black{
  display:flex;
   flex: 1 1 100%;
  justify-Content: center;
}
.Home-services-black-background-underline{
  border: 2px solid #FFB600;
  margin-top: 20px;
  margin-left: 80px;
  margin-right: 80px;
  color: #FFB600;
}
/*home help container*/
.Home-help-container{
  display: flex;
  padding: 40px;
}
.Home-help-one{
  background-color: #f5f5f5;
  text-align: justify;
  padding-left: 80px;
  padding-right: 20px;
  padding-top: 120px;
}
.Home-help-Header{
  font-size: 15px;
}
.Home-Help-h1{
  font-size: 30px;
}
.Home-help-h4{
  font-size: 18px;
  border: 2px solid #FFB600;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 30px;
  padding-right: 20px;
  margin-bottom: 20px;
  background-color: #fff;
}
.Home-help-icon{
  color: #FFB600;
  padding-top: 5px;
  font-size: 30px;
}
/* .Home-help-two{

} */
.home-help-img{
  width: 500px;
  height: 600px;
}
/*Home workshop */
.Home-Workshop-news-container{
  display: flex;
  padding: 20px;
  margin: 0;
}
.Home-Workshop-news{
  width: 30%;
  height: 500px;
  border: 1px solid #ccc;
  margin: 10px;
  padding: 20px;
}
.Home-workshop-img{
  width: 350px;
  height: 200px;
}
.Home-Workshop-hr{
  color: #FFB600;
  border: 2px solid #FFB600;
}
.Home-workshop-button{
  background-color: #FFB600;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  border: none;
  border-radius: 20px;
  margin: 20px;
}
.Home-workshop-paragraph{
  padding: 10px;
}
.Home-workshop-new-heading{
  display: flex;
  width: 100%;
}
.Home-workshop-heading{
  width: 50%;
  text-align: center;
}
.Home-workshop-heading1{
  width: 50%;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}
.Home-feedback-container{
  display: flex;
  width: 100%;
  background-color: #f5f5f5 ;
  padding-top: 50px;
}
.Home-feedback-one{
  width: 60%;
  justify-content: center;
  align-items: center;
}
.Home-feedback-two{
  width: 40%;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-left: 80px;
}
.Home-feedback-box{
  width: 50%;
  padding: 60px;
  border: 5px solid #FFB600;
}
.Home-feedback-paragraph{
  line-height: 20px;
}
.Home-feedback-star{
  color: #FFB600;
}
.Home-feedback-img{
  border-radius: 120px;
  width: 120px;
}
.Home-feedback-name{
  display: flex;
  margin: 20px;
}

.Home-feedback-input{
  height: 50px;
  width: 90%;
}
.Home-feedback-firstname{
  padding: 10px;
  width: 90%;
}

.Home-feedback-message{
  width: 100%;
  margin-top: 20px;
 
}
.Home-feedback-button-container{
  margin: 20px;
}
.Home-feedback-button{
  padding-left: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right:40px ;
  border-radius: 30px;
  background-color: #FFB600;
  color: #000;
  font-size: 15px;
  font-weight: 700;
  border: none;
}
.Home-feedback-input-message{
  width: 95%;
  height: 80px;

}
  @media screen and (max-width: 768px) {
    .Home-feedback-container{
      display: flex;
      flex-direction: column;
    }
    .Home-feedback-two,.Home-feedback-one{
      width: 100%;
      margin: 0;
      padding: 0;
    }
    .Home-feedback-box{
      border: 5px solid #FFB600;
      align-items: center;
      justify-content: center;
      padding: 10px;
      width: 90%;
    }
    .Home-workshop-new-heading{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0;

    }
    .Home-Workshop-news-container{
      display: flex;
      flex-direction: column;
      margin: 20px;
      align-items: center;
      justify-content: center;

    }
    .Home-Workshop-news{
     width: 100%;
    }
    .Home-workshop-img{
      width: 300px;
      height: 200px;
    }
    .Home-help-container{
      display: flex;
      flex-direction: column;
    }
    .Home-help-one{
      text-align: center;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 20px;
      padding-bottom: 20px;
    }
   .home-help-img{
    padding: 0;
    margin: 0;
    width: 300px;
    height: 400px;
   }
   .Home-help-icon{
    display: flex;
   }
    .Home-service-black {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
    .Home-container-black-style{
      width: 100%;
    }
    .Home-header-text-bottom {
      padding-bottom: 60px;
    }
    .Home-Services-container  {
      flex-direction: column;
      margin-top: 100px;
    }
  
    .Home-Services{
      width: 100%; 
    }
    .Home-service-background{
      padding-top: 1200px;
      background-color: #ccc;
    }
    .Home-paragraph-container{
      flex-direction: column; 
      padding-top: 20px;
      padding-bottom: 20px;
      margin: 0;
    }
    .Home-paragraph-flex1,
    .Home-paragraph-flex2 {
      width: 100%;
      text-align: center;
      padding: 0;
      margin: 0;
    }
    .Home-paragraph1-img{
      width: 315px;
      height: 296px;
    }
    .Home-paragraph2-img{
       width: 315px;
       height: 296px;
       padding-left: 0;
    }
    .Home-paragraph-checklist {
      text-align: left; 
    }

    .Home-paragraph-h1 {
      font-size: 30px; 
    }
    .Home-paragraph-hr{
      border: 2px solid #FFB600;
      width: 100%;
    
    }
  }
  
  
  /* Adjustments for mobile screens */
  @media screen and (max-width: 768px) {
    .overlay-text {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: left;
      font-size: 16px;
    }
  
    .Home-underline {
      width: 30%;
    }
  
    .Home-header-text-top {
      font-size: 15px;
    }
  
    .Home-header-text-middle {
      font-size: 60px;
    }
  
    .Home-header-text-bottom {
      font-size: 18px;
      font-weight: 200;
      padding-top: 10px;
    }
  }
  
