/* Navbar.css */
.navigation {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.5rem 0rem;
    background-color: #FFB600;
    color: black;
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
  }
  
  .logo{
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    margin-left: 4rem;
  }
  
  .navigation-menu {
    margin-left:auto;
    margin-right:60px;
    font-size: 18px;
   
  }
  
  .navigation-menu ul {
    display: flex;
    padding: 0;
  }
  
  .navigation-menu li {
    list-style-type: none;
    margin: 0 1rem;
  }
  
  .navigation-menu li a {
    text-decoration: none;
    display: block;
    width: 100%;
    color: #000;
    font-size: 18px;
  }
  .navigation-menu li a:hover {
    color: #fff;
  }

  /* Hamburger styles */
  .hamburger {
    border: 0;
    height: 40px;
    width: 40px;
    padding: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
    font-size: 30px;
    transition: background-color 0.2s ease-in-out;
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    display: none;
  }
  
  /* Responsive styles for smaller screens */
  @media screen and (max-width: 768px) {
    .logo{
        text-decoration: none;
        color: black;
        font-size: 0.8 rem;
        margin-left: 1.5rem;
        padding-bottom: 2rem;
        padding-top: 2rem;
      }
    .hamburger {
      display: block;
    }

    .navigation-menu ul {
      position: absolute;
      top: 70px;
      left: 0;
      flex-direction: column;
      width: 100%;
      height: 400px;
      background-color: white;
      border-top: 1px solid black;
      display: none;
      transition: display 0.3s ease-in-out;
    } 
  
    .navigation-menu.expanded ul {
      display: flex;
      flex-direction: column;
      align-items: left;
      justify-content: center;
      z-index: 2;
    }
  
    .navigation-menu li {
      text-align: left;
      padding-left: 30px;
      margin: 0;
    }
  
    .navigation-menu li a {
      color: black;
      width: 100%;
      padding: 1.5rem 0;
    }
  
    .navigation-menu li:hover {
      background-color: #eee;
    }
  }
  